.index-container {
  margin: 0 auto;
  margin-top: 11em;
for_breakpoint(mobile)
  text-align: center;
  margin-bottom: 5em;
}
.index-cards {
  margin: 0 auto;
  margin-top: 3em;
  max-width: 960px;
for_breakpoint(tablet)
for_breakpoint(mobile)
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 2.5em;
}
