.footer-nav {
  display: none;
for_breakpoint(mobile)
  width: 100%;
  border-radius: 10px;
}
.footer-nav #nav {
  display: block;
  height: 100%;
}
.footer-nav .nav-item {
  float: right;
}
#footer {
  width: 70vw;
for_breakpoint(tablet)
for_breakpoint(mobile)
  margin: 6vh auto 2vh auto;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  border-top: 1px solid #ddd;
  box-shadow: 0px -5px 10px -8px #ddd;
  padding: 1em 0.75em;
for_breakpoint(mobile)
}
#footer a:link,
#footer a:visited {
  text-decoration: none;
  color: #222;
}
#footer a:hover {
  color: $primary_color;
}
#footer .footer-copyright {
  flex: 1;
  flex-grow: 2;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 0.75em;
}
#footer .footer-copyright p {
  margin: 0.5em 0;
}
#footer .footer-copyright a:hover {
  color: #222;
}
#footer .footer-social {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
for_breakpoint(mobile)
}
#footer .footer-social .footer-social-item {
  margin: 0.5em 1em;
  font-size: 0.75em;
}
