.header .header-logo {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}
.header .header-logo img {
  transition: all 0.2s ease-in-out;
}
.header .header-logo img:hover {
  transform: translateY(-4%);
  box-shadow: 1px 2px 10px 1px #c5c5c5;
}
#footer {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}
.archive-container {
  animation-name: fadeInLittleLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}
.index-cards {
  animation-name: fadeInLittleLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}
.Card {
  transition: all 0.3s ease-in-out;
}
.Card:hover {
  transform: translateY(-3%);
  box-shadow: 0.5px 3px 3px -0.5px rgba(170,175,173,0.61);
}
.Card:hover .Card-excerpt {
  animation-name: fadeInLittleLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0;
}
.header .header-text {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.index-intro {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.7s;
}
#header-nav {
  animation-name: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 0.9s;
}
.article-title,
.article-logo,
.article-categories {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1.3s;
}
.article-meta {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1.5s;
}
.article-toc,
.page-meta {
  animation-name: fadeInRight;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-delay: 1.6s;
}
.article-gallery {
  animation-name: fadeInLittleDown;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1.8s;
}
.article-content,
.article-comment,
.badges {
  animation-name: fadeInLittleLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1.9s;
}
.Card-title {
  animation-name: fadeInLittleLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0;
}
.Card-archive {
  transition: all 0.3s ease-in-out;
}
.Card-archive:hover {
  transform: translateY(-5%);
  box-shadow: 0.5px 3px 3px -0.5px rgba(170,175,173,0.61);
}
.nav-more-menu {
  animation-name: fadeInLittleDown;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0;
}
.toc {
  animation-name: fadeInLittleRight;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0;
}
@-moz-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeOutDown {
  to {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  from {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeOutDown {
  to {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  from {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeOutDown {
  to {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  from {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutDown {
  to {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  from {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeInLittleDown {
  from {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInLittleDown {
  from {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInLittleDown {
  from {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLittleDown {
  from {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeInLittleLeft {
  from {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInLittleLeft {
  from {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInLittleLeft {
  from {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLittleLeft {
  from {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeOutLittleLeft {
  to {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }
  from {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeOutLittleLeft {
  to {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }
  from {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeOutLittleLeft {
  to {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }
  from {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutLittleLeft {
  to {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }
  from {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeOutUp {
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  from {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeOutUp {
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  from {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeOutUp {
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  from {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutUp {
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  from {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeInLittleRight {
  from {
    opacity: 0;
    transform: translate3d(5%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInLittleRight {
  from {
    opacity: 0;
    transform: translate3d(5%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInLittleRight {
  from {
    opacity: 0;
    transform: translate3d(5%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLittleRight {
  from {
    opacity: 0;
    transform: translate3d(5%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes popUp {
  to {
    transform: translateY(-3%);
  }
  from {
    transform: none;
  }
}
@-webkit-keyframes popUp {
  to {
    transform: translateY(-3%);
  }
  from {
    transform: none;
  }
}
@-o-keyframes popUp {
  to {
    transform: translateY(-3%);
  }
  from {
    transform: none;
  }
}
@keyframes popUp {
  to {
    transform: translateY(-3%);
  }
  from {
    transform: none;
  }
}
@-moz-keyframes translateDownAnouncement {
  to {
    opacity: 1;
    width: 60%;
    left: 20%;
  }
  from {
    opacity: 1;
    transform: translateY(-6.9em);
    width: 100%;
    left: 0;
  }
}
@-webkit-keyframes translateDownAnouncement {
  to {
    opacity: 1;
    width: 60%;
    left: 20%;
  }
  from {
    opacity: 1;
    transform: translateY(-6.9em);
    width: 100%;
    left: 0;
  }
}
@-o-keyframes translateDownAnouncement {
  to {
    opacity: 1;
    width: 60%;
    left: 20%;
  }
  from {
    opacity: 1;
    transform: translateY(-6.9em);
    width: 100%;
    left: 0;
  }
}
@keyframes translateDownAnouncement {
  to {
    opacity: 1;
    width: 60%;
    left: 20%;
  }
  from {
    opacity: 1;
    transform: translateY(-6.9em);
    width: 100%;
    left: 0;
  }
}
.header.headroom {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}
.header.headroom--pinned {
  animation-name: fadeInDown;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0.1s;
}
.header.headroom--unpinned {
  animation-name: fadeOutUp;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0.1s;
}
.announcement.headroom {
  animation-name: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 1s;
}
.announcement.headroom--pinned {
  animation-name: translateDownAnouncement;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0.1s;
}
.announcement.headroom--unpinned {
  animation-name: translateUpAnouncement;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0.1s;
}
