.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.tags label {
  padding: 5px;
  font-size: 1em;
  margin: 3px;
  font-weight: bold;
  border-radius: 5px;
  display: block;
}
.tags label a {
  color: #fff;
}
.tag-1 {
  background: #b6d957;
}
.tag-1:hover {
  background: #c5e179;
}
.tag-1:hover a {
  color: #fff;
}
.tag-2 {
  background: #fac364;
}
.tag-2:hover {
  background: #fbcf83;
}
.tag-2:hover a {
  color: #fff;
}
.tag-3 {
  background: #8cd3ff;
}
.tag-3:hover {
  background: #a3dcff;
}
.tag-3:hover a {
  color: #fff;
}
.tag-4 {
  background: #d998cb;
}
.tag-4:hover {
  background: #e1add5;
}
.tag-4:hover a {
  color: #fff;
}
.tag-5 {
  background: #f2d249;
}
.tag-5:hover {
  background: #f5db6d;
}
.tag-5:hover a {
  color: #fff;
}
.tag-6 {
  background: #93b9c6;
}
.tag-6:hover {
  background: #a9c7d1;
}
.tag-6:hover a {
  color: #fff;
}
.tag-7 {
  background: #ccc5a8;
}
.tag-7:hover {
  background: #d6d1b9;
}
.tag-7:hover a {
  color: #fff;
}
.tag-8 {
  background: #52bacc;
}
.tag-8:hover {
  background: #75c8d6;
}
.tag-8:hover a {
  color: #fff;
}
.tag-9 {
  background: #dbdb46;
}
.tag-9:hover {
  background: #e2e26b;
}
.tag-9:hover a {
  color: #fff;
}
.tag-10 {
  background: #98aafb;
}
.tag-10:hover {
  background: #adbbfc;
}
.tag-10:hover a {
  color: #fff;
}
.tag-11 {
  background: ;
}
.tag-11:hover {
  background: ;
}
.tag-11:hover a {
  color: #fff;
}
