.search-container {
  margin: 0 auto;
  margin-top: 14em;
  margin-bottom: 4em;
  width: 60%;
for_breakpoint(tablet)
for_breakpoint(mobile)
for_breakpoint(half-desktop)
  text-align: center;
}
.search-container #search-form {
  border: none;
  width: 60%;
  border-bottom: 2px solid #eee;
for_breakpoint(mobile)
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1.2em;
}
.search-container input:focus {
  border: none;
}
.search-container .cat-list {
  margin: 0 auto;
  margin-top: 3em;
  width: 80%;
}
.search-container .cat-list li {
  display: inline-block;
  margin: 0 0.5em;
}
.search-container .cat-list li img {
  width: 3em;
  height: auto;
}
.tagcloud-container {
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 4em;
  width: 60%;
for_breakpoint(tablet)
for_breakpoint(mobile)
for_breakpoint(half-desktop)
}
.tagcloud-container .tag-cloud {
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 2em;
  width: 80%;
}
.tagcloud-container .tag-cloud a:link {
  text-decoration: none;
}
.tagcloud-container .tag-cloud a:hover {
  text-decoration: underline;
}
