@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Light"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semilight"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Bold"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semibold"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf") format("truetype");
  font-weight: 700;
}
.article,
.page {
  max-width: 800px;
  margin: 0 auto;
for_breakpoint(tablet)
for_breakpoint(mobile)
  padding: 0;
  margin-top: 10em;
for_breakpoint(mobile)
}
.article .article-title,
.page .article-title {
  display: inline-block;
  margin: 0;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;
}
.article .article-logo,
.page .article-logo {
  display: inline-block;
for_breakpoint(mobile)
  height: inherit;
}
.article .article-logo img,
.page .article-logo img {
  width: auto;
  height: 3em;
  margin-right: 0.5em;
  margin-bottom: -0.8em;
}
.article .article-categories,
.page .article-categories {
  vertical-align: top;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 0.1em;
  padding-right: 0.3em;
for_breakpoint(mobile)
}
.article .article-categories li,
.page .article-categories li {
  list-style-type: none;
}
.article .article-categories img,
.page .article-categories img {
  width: 1.5em;
  height: auto;
}
.article .article-meta,
.page .article-meta {
  clear: both;
  color: #666;
  margin-left: 2.7em;
for_breakpoint(mobile)
  margin-top: 3em;
  font-size: 0.8em;
  width: 100%;
}
.article .article-meta .thumb-up-button,
.page .article-meta .thumb-up-button {
  cursor: pointer;
}
.article .article-meta .comment-button a:link,
.page .article-meta .comment-button a:link {
  color: #666;
}
.article .article-meta ul,
.page .article-meta ul {
  display: block;
  padding: 0;
  text-align: center;
}
.article .article-meta ul li,
.page .article-meta ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 1em;
}
.article .article-meta .tags,
.page .article-meta .tags {
  clear: both;
  justify-content: center;
}
.article .article-cards,
.page .article-cards {
  margin: 0 auto;
  margin-top: 1.5em;
  width: 100%;
for_breakpoint(tablet)
for_breakpoint(mobile)
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.article .article-toc,
.page .article-toc {
  background-color: #fff;
  z-index: 101;
for_breakpoint(mobile)
}
.article .article-toc .toc-button,
.page .article-toc .toc-button {
  z-index: 0;
}
.article .article-toc .toc-button img,
.page .article-toc .toc-button img {
  width: 2em;
  height: auto;
  object-fit: cover;
}
.page {
  max-width: 800px;
}
.page .page-meta {
  float: right;
}
.page .page-meta p {
  margin: 0;
}
#article-toc:hover .toc-container {
  display: block;
}
#article-toc:hover .toc-button {
  display: none;
}
.toc-container {
  position: relative;
for_breakpoint(mobile)
}
.toc-container {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
for_breakpoint(mobile)
}
.toc-container .toc {
  overflow: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  max-height: 60vh;
  padding-left: 0.5em;
  padding-right: 0.5em;
for_breakpoint(mobile)
}
.toc-container ol {
  background-color: #fff;
  padding-left: 1em;
}
.toc-container li {
  list-style-type: none;
  line-height: 1.5;
  background-color: #fff;
  padding: 0;
for_breakpoint(mobile)
}
