/*

Topography of post for scheme taurus

 */
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Light"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semilight"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Bold"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semibold"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2") format("woff2"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf") format("truetype");
  font-weight: 700;
}
.page a,
.article a {
  text-decoration: none;
  color: #444;
}
.page .article-content,
.article .article-content {
  color: #333;
  line-height: 1.5;
  font-size: 14px;
for_breakpoint(mobile)
}
.page .article-content hr,
.article .article-content hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
.page .article-content h1,
.article .article-content h1,
.page .article-content h2,
.article .article-content h2,
.page .article-content h3,
.article .article-content h3,
.page .article-content h4,
.article .article-content h4,
.page .article-content h5,
.article .article-content h5,
.page .article-content h6,
.article .article-content h6 {
  color: #333;
}
.page .article-content h1:target:before,
.article .article-content h1:target:before,
.page .article-content h2:target:before,
.article .article-content h2:target:before,
.page .article-content h3:target:before,
.article .article-content h3:target:before,
.page .article-content h4:target:before,
.article .article-content h4:target:before,
.page .article-content h5:target:before,
.article .article-content h5:target:before,
.page .article-content h6:target:before,
.article .article-content h6:target:before {
  content: "";
  display: block;
  height: 8em /* fixed header height*/;
  margin: -8em 0 0 /* negative fixed header height */;
}
.page .article-content h1,
.article .article-content h1 {
  position: relative;
}
.page .article-content h1:target:before,
.article .article-content h1:target:before {
  content: "";
  display: block;
  height: 5em /* fixed header height*/;
  margin: -5em 0 0 /* negative fixed header height */;
}
.page .article-content a,
.article .article-content a {
  color: $primary_color;
}
.page .article-content a:visited,
.article .article-content a:visited {
  color: $primary_color_grayout;
}
.page .article-content img,
.article .article-content img {
  max-height: 300px;
  max-width: 95%;
  height: auto;
  box-shadow: 3px 3px 12px 3px #eee;
  border-radius: 5px;
  padding: 2.5%;
  margin: 0.5em;
  cursor: pointer;
}
.page .article-content code,
.article .article-content code {
  color: $secondary_color;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.7em;
  font-weight: 600;
  vertical-align: middle;
  border: 1px solid #999;
  background-color: #efefef;
  padding: 2px 4px;
  margin: 0 2px;
  border-radius: 0.4em;
}
.page .article-content pre,
.article .article-content pre {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 12px 15px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.page .article-content pre code,
.article .article-content pre code {
  border: none;
  background: none;
  font-size: 0.8em;
  color: #222;
  font-weight: normal;
}
.page .article-content figure.highlight,
.article .article-content figure.highlight {
  margin: 2em 0;
  border: 1px solid #ccc;
  padding: 0.8em;
  border-radius: 8px;
  font-size: 0.8em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.page .article-content figure.highlight table,
.article .article-content figure.highlight table,
.page .article-content figure.highlight tbody,
.article .article-content figure.highlight tbody,
.page .article-content figure.highlight tr,
.article .article-content figure.highlight tr {
  display: block;
  width: 100%;
}
.page .article-content figure.highlight td.code,
.article .article-content figure.highlight td.code {
  width: 100%;
}
.page .article-content figure.highlight td.gutter,
.article .article-content figure.highlight td.gutter {
  padding-right: 1em;
  color: #aaa;
}
.page .article-content figure.highlight figcaption,
.article .article-content figure.highlight figcaption {
  font-size: 0.9em;
  color: #aaa;
  margin-bottom: 1em;
}
.page .article-content figure.highlight figcaption a,
.article .article-content figure.highlight figcaption a {
  float: right;
}
.page .article-content figure.highlight th,
.article .article-content figure.highlight th,
.page .article-content figure.highlight td,
.article .article-content figure.highlight td {
  padding: 0px;
  text-align: left;
  border-bottom: none;
}
.page .article-content figure.highlight th .line,
.article .article-content figure.highlight th .line,
.page .article-content figure.highlight td .line,
.article .article-content figure.highlight td .line {
  display: inline-block;
  width: 100%;
}
.page .article-content figure.highlight th .marked,
.article .article-content figure.highlight th .marked,
.page .article-content figure.highlight td .marked,
.article .article-content figure.highlight td .marked {
  background-color: #f0fff4;
}
.page .article-content .gist td,
.article .article-content .gist td {
  padding: 0;
  border-bottom: none;
}
.page .article-content table,
.article .article-content table {
  max-width: 100%;
  overflow: auto;
  display: block;
}
.page .article-content table th,
.article .article-content table th,
.page .article-content table td,
.article .article-content table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
.page .article-content table th pre,
.article .article-content table th pre,
.page .article-content table td pre,
.article .article-content table td pre {
  border: none;
  padding: 0.5em 0;
}
.page .article-content table th:first-child,
.article .article-content table th:first-child,
.page .article-content table td:first-child,
.article .article-content table td:first-child {
  padding-left: 0;
}
.page .article-content table th:last-child,
.article .article-content table th:last-child,
.page .article-content table td:last-child,
.article .article-content table td:last-child {
  padding-right: 0;
}
.page .article-content blockquote,
.article .article-content blockquote {
  position: relative;
  padding-left: 2rem;
  margin-top: 2rem;
  color: #888;
  font-size: 0.9em;
}
.page .article-content blockquote:before,
.article .article-content blockquote:before {
  display: block;
  content: "\201C";
  font-size: 5em;
  margin: 0;
  padding: 0;
  left: 0;
  top: -2rem;
  position: absolute;
}
.page .article-content blockquote footer,
.article .article-content blockquote footer {
  color: #222;
  overflow: auto;
}
.page .article-content blockquote footer:before,
.article .article-content blockquote footer:before {
  content: "\2014 \2009";
}
.page .article-content blockquote footer *,
.article .article-content blockquote footer * {
  margin-right: 0.5rem;
}
.page .article-content blockquote.pullquote,
.article .article-content blockquote.pullquote {
  display: block;
  width: 20%;
  font-size: 1.1em;
  padding: 1em 1em 0 1em;
  margin: 0;
}
.page .article-content blockquote.pullquote.left,
.article .article-content blockquote.pullquote.left {
  float: left;
}
.page .article-content blockquote.pullquote.left:before,
.article .article-content blockquote.pullquote.left:before {
  display: block;
  content: "\201C";
  font-size: 5em;
  margin: 0;
  padding: 0;
  left: 0;
  top: -1rem;
  position: absolute;
}
.page .article-content blockquote.pullquote.right,
.article .article-content blockquote.pullquote.right {
  float: right;
}
.page .article-content blockquote.pullquote.right:before,
.article .article-content blockquote.pullquote.right:before {
  display: block;
  content: "\201D";
  font-size: 5em;
  margin: 0;
  padding: 0;
  left: 75%;
  top: -1rem;
  position: absolute;
}
.page .article-content dt,
.article .article-content dt {
  display: block;
  width: 100%;
  text-decoration: underline;
  margin: 0.5em 0;
}
.page .article-content dd,
.article .article-content dd {
  color: #666;
  margin-top: 0.5em;
}
.page .article-content dd pre code,
.article .article-content dd pre code {
  border: 0;
  background: 0;
  color: #666;
}
.page .article-content dl,
.article .article-content dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.page .article-content dl dt,
.article .article-content dl dt {
  display: block;
  width: 20%;
for_breakpoint(mobile)
  text-align: center;
  color: #fff;
  text-decoration: none;
  line-height: 1.2;
  padding: 0.5em;
  border-radius: 5px;
}
.page .article-content dl dt:nth-of-type(1),
.article .article-content dl dt:nth-of-type(1) {
  background-color: $hue5;
}
.page .article-content dl dt:nth-of-type(2),
.article .article-content dl dt:nth-of-type(2) {
  background-color: $hue2;
}
.page .article-content dl dt:nth-of-type(3),
.article .article-content dl dt:nth-of-type(3) {
  background-color: $hue3;
}
.page .article-content dl dt:nth-of-type(4),
.article .article-content dl dt:nth-of-type(4) {
  background-color: $hue4;
}
.page .article-content dl dt:nth-of-type(5),
.article .article-content dl dt:nth-of-type(5) {
  background-color: $hue6;
}
.page .article-content dl dt:nth-of-type(6),
.article .article-content dl dt:nth-of-type(6) {
  background-color: $hue7;
}
.page .article-content dl dd,
.article .article-content dl dd {
  margin-left: 2em;
  width: 70%;
for_breakpoint(mobile)
  color: #666;
}
.page .article-content dl dd ol,
.article .article-content dl dd ol,
.page .article-content dl dd ul,
.article .article-content dl dd ul {
  padding-left: 1em;
}
.page .article-content dl dd *,
.article .article-content dl dd * {
  margin-top: 0;
  margin-left: 0;
}
.page .article-content dl dd figure,
.article .article-content dl dd figure,
.page .article-content dl dd figure.highlight,
.article .article-content dl dd figure.highlight {
  margin: 0;
}
.page .article-content dl dd pre code,
.article .article-content dl dd pre code {
  border: 0;
  background: 0;
  color: #666;
}
.page .article-gallery,
.article .article-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
}
.page .article-gallery .article-gallery-item,
.article .article-gallery .article-gallery-item {
  display: block;
  text-align: left;
  margin-top: 0.5em;
  margin-left: 0.5em;
}
.page .article-gallery .article-gallery-item img,
.article .article-gallery .article-gallery-item img {
  width: 200px;
  height: 160px;
  box-shadow: 3px 3px 12px 3px #eee;
  border-radius: 5px;
  padding: 0.5em;
  object-fit: cover;
  object-position: center;
for_breakpoint(mobile)
for_breakpoint(tablet)
}
.page .page-meta a:link {
  color: $primary_color;
}
.page .page-meta a:visited {
  color: $primary_color_grayout;
}
